[submodule "Cpp/ext/CppProfiler"]
	path = Cpp/ext/CppProfiler
	url = https://github.com/LittleCoinCoin/CppProfiler.git
[submodule "Cpp/ext/vcpkg"]
	path = Cpp/ext/vcpkg
	url = https://github.com/microsoft/vcpkg.git
